<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="text-muted">Mega Minds &copy; 2018.</p>
    <nav>
      <ul class="nav navbar-nav">
        <li><a routerLink="##" routerLinkActive="active">Contact us</a></li>
        <li><a routerLink="##" routerLinkActive="active">Privacy & cookies</a></li>
        <li><a routerLink="##" routerLinkActive="active">Terms of use</a></li>
        <li><a routerLink="##" routerLinkActive="active">Trademarks</a></li>
      </ul>
    </nav>
  </div>
</footer>