<div style="margin-top: 50px;">
    <h3 class="container-fluid">{{title}}</h3>
    <h4>My Heroes</h4>
    <ul class="heroes" style="float: left;">
        <li *ngFor="let hero of heroes; let i = index" [class.selected]="hero === selectedHero" (click)="onSelect(hero, i)">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
    <div *ngIf="selectedHero">
        <h2>
            {{selectedHero.name | uppercase}} is my hero
        </h2>
        <button (click)="gotoDetail()">View Details</button>
    </div>
</div>