<div>
  <!-- {{diagnostic}} for displaying form data -->
  <div class="container">
    <h2>User Details..</h2>
    <form class="form-horizontal" #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
      <div class="form-group">
        <label for="user_name" class="control-label col-md-3">Name:</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="user_name" required [(ngModel)]="user.user_name" name="user_name" #spyName>
          <!-- <b>{{spyName.className}}</b> for dispalying class names-->
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label col-md-3">Email:</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
        </div>
      </div>
      <!-- bind the model group use "ngModelGroup" in seperate div(  <div ngModelGroup="address"></div>  ) as a class and put street,city and postalcode in that div -->
      <div class="form-group">
        <label for="street" class="control-label col-md-3">Street:</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="street" required [(ngModel)]="user.street" name="street">
        </div>
      </div>
      <div class="form-group">
        <label for="city" class="control-label col-md-3">City:</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="city" required [(ngModel)]="user.city" name="city">
        </div>
      </div>
      <div class="form-group">
        <label for="postalcode" class="control-label col-md-3">Postal Code:</label>
        <div class="col-md-6">
          <input type="text" class="form-control" id="postalcode" required [(ngModel)]="user.postalcode" name="postalcode">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-6">
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>